@model ParameterBase
@{
    ViewData["Title"] = "Registration Page";
}
<form asp-action="Index" asp-controller="registration" method="post">
    @User.Identity.Name<br />
    @User.Identity.IsAuthenticated
    <input type="submit" value="Save xx Persons" class="btn btn-success" />
</form>
