@model ParameterBase
@{
    ViewData["Title"] = "Registration Page";
}
<form asp-action="Index" asp-controller="registration" method="post">
    <input type="submit" value="Save Persons" class="btn btn-success" />
</form>
